<bad-input-errors-ns></bad-input-errors-ns>

<modal-confirm 
  (confirm)="onConfirmedDelete()" 
  [confirmText]="'Вы хотите безвозвратно удалить категорию?'">
</modal-confirm>

<context-menu #nodeMenu>
  <ng-template contextMenuItem *ngFor="let menuAction of menuActions" (execute)="menuAction.execute()" [enabled]="menuAction.enabled">
    <span>{{menuAction.html()}}</span>
  </ng-template>
</context-menu>

<div style="height: 400px; width: 400px; overflow: hidden;">
  <tree-root #tree [nodes]="nodes" [options]="customTemplateStringOptions" [focused]="true" (event)="onEvent($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">
      <span title="{{node.data.subTitle}}">{{ node.data.title }}</span>
    </ng-template>
    <ng-template #loadingTemplate>Загрузка. Пожалуйста, подождите...</ng-template>
  </tree-root>
</div>