<button class="btn btn-danger" (click)="onDelete()">Удалить поставщика</button>
<button *ngIf="provider.isBlocked === false" class="btn btn-warning" (click)="onBlock()" tooltip="Заблокирует поставщика">Заблокировать поставщика</button>
<div *ngIf="provider.isBlocked === true">
    <div class="alert alert-warning">
        Поставщик заблокирован
    </div>
    <button class="btn btn-warning" (click)="onUnblock()">Разблокировать поставщика</button>
</div>

<h2>Редактирование поставщика</h2>
<bad-input-errors></bad-input-errors>
<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
        <label for="title">Название</label>
        <input id="title" type="text" formControlName="title" class="form-control" [ngClass]="displayFieldCss('title')" />
        <field-error-display [displayError]="isDisplayError('title', 'required')" [errorMsg]="'Название обязательно для ввода'"></field-error-display>
        <field-error-display [displayError]="isDisplayError('title', 'maxlength')" [errorMsg]="'Название слишком длинное'"></field-error-display>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="displayFieldCss('email')" />
        <field-error-display [displayError]="isDisplayError('email', 'required')" [errorMsg]="'Email обязателен для ввода'"></field-error-display>
        <field-error-display [displayError]="isDisplayError('email', 'email')" [errorMsg]="'Введите корректный email'"></field-error-display>
    </div>
    <div class="form-check">
        <input id="updPas" type="checkbox" (change)="updatePasChanged($event)" class="form-check-input" />
        <label for="updPas" class="form-check-label">Обновить пароль</label>
    </div>
    <div class="form-group">
        <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="displayFieldCss('password')" />
        <field-error-display [displayError]="isDisplayError('password', 'required')" [errorMsg]="'Пароль обязателен для ввода'"></field-error-display>
        <field-error-display [displayError]="isDisplayError('password', 'minlength')" [errorMsg]="'Значение слишком короткое'"></field-error-display>
        <field-error-display [displayError]="isDisplayError('password', 'maxlength')" [errorMsg]="'Значение слишком длинное'"></field-error-display>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Сохранить</button>
        <button [routerLink]="['/providers']" class="btn btn-default">Отмена</button>
    </div>
</form>
<modal-confirm [showSubject]="deleteConfirmTrigger" (confirm)="onConfirmDelete()"></modal-confirm>
<modal-confirm #blockModal [confirmText]="'Вы уверены, что хотите заблокировать поставщика? Это действие можно будет отменить.'" (confirm)="onConfirmBlock()"></modal-confirm>