<section class="row">
  <div class="col-12">
    <a href="#" [routerLink]='["/providers/create"]' class="btn btn-info" role="button">Создать поставщика</a>
  </div>
</section>

<h2>Список поставщиков</h2>
Тут добавить фильтры
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Название</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of providers">
        <td>{{provider.title}}</td>
        <td>{{provider.email}}</td>
        <td>
          <button (click)="onEdit(provider.id)">Редактировать</button>
          <button>Удалить</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 1}">
      <a class="page-link" (click)="onPrevPage()">Назад</a>
    </li>
    <li class="page-item" *ngFor="let page of pages" [ngClass]="{ active : isCurrentPage(page)}">
      <a class="page-link" (click)="setPage(page)">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="{ disabled: currentPage === pages.length}">
      <a class="page-link" (click)="onNextPage()">Вперед</a>
    </li>
  </ul>
</nav>