<section class="row">
  <div class="col-12">
    <a href="#" [routerLink]='["/providers/create"]' class="btn btn-info" role="button">Создать поставщика</a>
  </div>
</section>

<h2>Список поставщиков</h2>
Тут добавить фильтры
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Название</th>
        <th>Email</th>
        <th>Заблокирован</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of providers">
        <td>{{provider.title}}</td>
        <td>{{provider.email}}</td>
        <td>{{provider.isBlocked | booleanAsString}}</td>
        <td>
          <button (click)="onEdit(provider.id)">Редактировать</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<list-pagination [fetchListDataAction]="fetchListDataCallback()"></list-pagination>