<section class="row">
  <div class="col-12">
    <a href="#" [routerLink]='["/providers/create"]' class="btn btn-info" role="button">Создать поставщика</a>
  </div>
</section>

<h2>Список поставщиков</h2>
Тут добавить фильтры
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Название</th>
        <th>Email</th>
        <th></th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of providers">
        <td>{{provider.title}}</td>
        <td>{{provider.email}}</td>
        <td>
          <button (click)="onEdit(provider.id)">Редактировать</button>
          <button>Удалить</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <!-- <li *ngFor="let page in pages" class="page-item">
      <a class="page-link" href="#">1</a>
    </li> -->
    <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li> -->
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>