<app-top-menu></app-top-menu>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-2 bg-faded sidebar'>
      <app-nav-menu></app-nav-menu>
    </div>
    <main class='col-sm-10 body-content'>

      
      <div *ngIf="isDevMode()">
        <div *ngIf="notification && showNotification" (click)="showNotification = !showNotification" class="notification">
          <p>{{ notification }}</p>
        </div>
        
        <!-- <app-notifications>-->
        <!-- </app-notifications> -->
        <app-error></app-error>
      </div>

      <router-outlet></router-outlet>
    </main>
  </div>
</div>