  <div class="conteiner">
    <div class="row">
      <div class="col-md-6">
        <div>
            <h2>
                Категории
            </h2>
              <div><a [routerLink]="['tree']"> Categories </a> </div>
              <div><a [routerLink]="[{outlets:{cat:['create']}}]"> Create </a> </div>
              <div><a [routerLink]="[{outlets:{cat:['update', 1]}}]"> Update </a> </div>
              <div><a [routerLink]="[{outlets:{cat: null}}]"> Clean outlet </a> </div>
        </div>
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-6">
        <router-outlet name="cat"></router-outlet>
      </div>
    </div>
  </div>
  