<nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{ disabled: currentPage === 1}">
        <a class="page-link" (click)="onPrevPage()">Назад</a>
      </li>
      <li class="page-item" *ngFor="let page of pages" [ngClass]="{ active : isCurrentPage(page)}">
        <a class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{ disabled: currentPage === pages.length}">
        <a class="page-link" (click)="onNextPage()">Вперед</a>
      </li>
    </ul>
  </nav>