<div *ngIf="isLoggedIn()">


<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLink]='["/"]' [routerLinkActiveOptions]="{exact: true}">Главная</a>
  </li>
</ul>


<ul  class="nav nav-pills flex-column">
  *Move admin menu to a separate component
  <li class="nav-item" *ngIf="isAdminOrHight()">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLink]='["/providers"]'>Поставщики</a>
  </li>
  <!-- <li class="nav-item">
      <a class="nav-link collapsed" href="#providermenu" data-toggle="collapse" data-target="#provider-submenu">Поставщики</a>
      <div class="collapse" id="provider-submenu" aria-expanded="true">
          <ul class="flex-column pl-2 nav">
              <li class="nav-item"><a class="nav-link py-0" href="#">Список</a></li>
              <li class="nav-item"><a class="nav-link py-0" href="#">Создать</a></li>
          </ul>
      </div>
    </li> -->
</ul>
</div>