<button class="btn btn-default" (click)="onCreate()">Добавить товар</button>
<h2>Список товаров</h2>
Тут добавить фильтры
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Название</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.title}}</td>
        <td>
          <button (click)="onEdit(product.id)">Редактировать</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="row">
  <div class="col-xs-12 col-12">
    <pagination [firstText]="'Перв'" [lastText]="'Посл.'" [nextText]="'След.'" [previousText]="'Пред.'" [boundaryLinks]="false" [totalItems]="55"></pagination>
  </div>
</div> -->

<list-pagination [fetchListDataAction]="fetchListDataCallback()"></list-pagination>

