<h1>Вход в систему</h1>
<bad-input-errors></bad-input-errors>
<form [formGroup]="form" novalidate (submit)="onSubmit($event)" autocomplete="off">
  <div class="form-group">
    <label for="username">Пользователь</label>
    <input formControlName="username" type="text" id="username" class="form-control" [ngClass]="displayFieldCss('username')">
    <field-error-display [displayError]="isDisplayError('username', 'required')" [errorMsg]="'Имя пользователя обязательно для ввода'"></field-error-display>
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input type="password" formControlName="password" id="password" class="form-control" [ngClass]="displayFieldCss('password')">
    <field-error-display [displayError]="isDisplayError('password', 'required')" [errorMsg]="'Введите пароль'"></field-error-display>
    <field-error-display [displayError]="isDisplayError('password', 'minlength')" [errorMsg]="'Пароль слишком короткий'"></field-error-display>
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Войти">
  </div>
</form>