<section class="row">
  <div class="col-12">
    <a href="#" [routerLink]='["/admins/create"]' class="btn btn-info" role="button">Создать администратора</a>
  </div>
</section>

<h2>Список администраторов</h2>
Тут добавить фильтры
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Login</th>
        <th>Email</th>
        <th>Имя</th>
        <th>Роль</th>
        <th>Заблокирован</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admin of admins">
        <td>{{admin.login}}</td>
        <td>{{admin.email}}</td>
        <td>{{admin.name}}</td>
        <td>{{admin.role | enumAsString : UserRole }}</td>
        <td>{{admin.isBlocked | booleanAsString }}</td>
        <td>
          <button (click)="onUpdate(admin.id)">Редактировать</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<list-pagination [fetchListDataAction]="fetchListDataCallback()"></list-pagination>